html {
  scroll-behavior: smooth;
}

body {
  font-family: Work Sans;
}

.wrapper {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0px;
  position: relative;
}
.header .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.header .header__left .header__left__logo {
  width: 38px;
  height: 47.5px;
}
.header .header__left .header__left__text {
  font-size: 30px;
  font-weight: 700;
  color: rgb(41, 71, 169);
}
.header .header__nav .header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.header .header__nav .header__nav__list .header__nav__list__a {
  cursor: pointer;
}
@media (max-width: 780px) {
  .header .header__nav .header__nav__list {
    gap: 25px;
  }
}
@media (max-width: 670px) {
  .header .header__nav .header__nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
  }
}
.header .header__nav .header__nav__list .header__nav__list__item {
  font-size: 18px;
  font-weight: 400;
  color: black;
}
.header .header__nav .header__nav__list .header__nav__list__item:hover {
  cursor: pointer;
  color: rgb(249, 153, 93);
}
@media screen and (min-width: 671px) {
  .header .header__nav .burger {
    display: none !important;
  }
}
@media (max-width: 670px) {
  .header .header__nav .burger {
    display: inline-block;
    font-size: 30px;
  }
}
@media screen and (min-width: 671px) {
  .header .header__nav .close {
    display: none !important;
  }
}
@media (max-width: 670px) {
  .header .header__nav .close {
    display: none;
    font-size: 30px;
  }
}

.first__bg {
  width: 100%;
  height: 100vh;
  background-image: url("/img/slider1/pexels-pixabay-162539.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.first__bg .first__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: rgb(53, 89, 199);
  right: 0;
  bottom: 0;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 400px;
}
.first .frist__text {
  font-size: 72px;
  font-weight: 600;
  color: rgb(41, 71, 169);
  max-width: 556px;
  font-family: sans-serif;
  text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.first__block__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .first__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 433px;
  margin: 60px 0px 0px 0px;
}
.main .first__section .first__section__title {
  color: rgb(41, 46, 61);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 48px;
}
.main .first__section .first__section__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 66px;
}
@media screen and (max-width: 1015px) {
  .main .first__section .first__section__position {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main .first__section .first__section__position .first__section__block {
  border: 1.4px solid rgb(224, 227, 235);
  border-radius: 4px;
  width: 292px;
  height: 197px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.main .first__section .first__section__position .first__section__block .first__section__icon {
  width: 36px;
  height: 36px;
  padding: 21px 0px 19px 21px;
}
.main .first__section .first__section__position .first__section__block .first__section__block__title {
  color: rgb(61, 68, 92);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0px 0px 18px 20px;
}
.main .first__section .first__section__position .first__section__block .first__section__block__par {
  color: rgb(133, 142, 173);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0px 0px 0px 20px;
  width: 254px;
}
.main .first__section .first__section__position .first__section__block:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main .second__section {
  margin: 35px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 800px;
}
.main .second__section .second__osnova {
  position: relative;
}
.main .second__section .second__osnova .second__section__img {
  height: 669px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
}
.main .second__section .second__osnova .second__section__block {
  background: rgb(41, 71, 169);
  width: 488px;
  height: 523px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(20%, -53%);
          transform: translate(20%, -53%);
}
.main .second__section .second__osnova .second__section__block .second__section__title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
  padding: 50px 0px 35px 40px;
}
.main .second__section .second__osnova .second__section__block .second__section__par {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  padding: 0px 0px 25px 40px;
  width: 388px;
}
.main .second__section .second__osnova .second__section__block .second__section__but {
  color: rgb(41, 71, 169);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  border: 2px solid rgb(41, 71, 169);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  padding: 10px;
  margin: 48px 0px 0px 40px;
  cursor: pointer;
}
.main .third__section {
  height: 608px;
  background: rgb(246, 248, 247);
}
.main .third__section .third__osnova .third__section__title {
  color: rgb(41, 46, 61);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
  padding: 44px 0px 36px 0px;
}
.main .third__section .third__osnova .third__section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 48px;
  gap: 98px;
}
.main .third__section .third__osnova .third__section__row .third__section__row__block__even {
  width: 271px;
  height: 181px;
  background: rgb(41, 71, 169);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
          box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.main .third__section .third__osnova .third__section__row .third__section__row__block__even .third__section__row__block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 41px 0px 23px 0px;
}
.main .third__section .third__osnova .third__section__row .third__section__row__block__even .third__section__row__block__hr {
  width: 60px;
}
.main .third__section .third__osnova .third__section__row .third__section__row__block__even .third__section__row__block__whitepar {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 10px;
}
.main .third__section .third__osnova .third__section__row .third__section__row__block__even:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main .third__section .third__osnova .third__section__row .third__section__row__block {
  width: 271px;
  height: 181px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
          box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.main .third__section .third__osnova .third__section__row .third__section__row__block .third__section__row__block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 41px 0px 23px 0px;
}
.main .third__section .third__osnova .third__section__row .third__section__row__block .third__section__row__block__hr {
  width: 60px;
}
.main .third__section .third__osnova .third__section__row .third__section__row__block .third__section__row__block__bluepar {
  color: rgb(41, 71, 169);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 10px;
}
.main .third__section .third__osnova .third__section__row .third__section__row__block:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}