@mixin flex-align(){
    display: flex;
    align-items: center;
}

@mixin font($fs, $fw, $fc){
    font-size: $fs;
    font-weight: $fw;
    color: $fc;
}

@mixin main-title{
    color: rgb(41, 46, 61);
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
}

$screen-md-min: 780px;

@mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
}


$screen-md-sm: 670px;

@mixin md-ms {
    @media (max-width: #{$screen-md-sm}) {
        @content;
    }
}