@import 'mixin';
@import 'var';

html{
    scroll-behavior: smooth;
}

body{
    font-family: Work Sans;
}

.wrapper{
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
}

.header{
    @include flex-align;
    justify-content: space-between;
    padding: 16px 0px;
    position: relative;

    .header__left{
        @include flex-align;
        gap: 14px;

        .header__left__logo{
            width: 38px;
            height: 47.5px;
        }

        .header__left__text{
            @include font(30px, 700, $blue);
        }
    }

    .header__nav{

        .header__nav__list{
            display: flex;
            gap: 50px;

            .header__nav__list__a{
                cursor: pointer;
            }

            @include md{
               gap: 25px;
            }
            
            @include md-ms{
                display: flex;
                align-items: center;
                flex-direction: column;
                position: absolute;
                top: 80px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
            }

            .header__nav__list__item{
                @include font(18px, 400, black);

                &:hover{
                    cursor: pointer;
                    color: $orange;
                }
            }
        }

        .burger{
            @media screen and (min-width: 671px){
                display: none !important; 
            }

            @include md-ms{
                display: inline-block;
                font-size: 30px;
            }
        }

        .close{
            @media screen and (min-width: 671px){
                display: none !important; 
            }

            @include md-ms{
                display: none;
                font-size: 30px;
            }
        }

    }

}



.first__bg {
    width: 100%;
    height: 100vh; 
    background-image: url('/img/slider1/pexels-pixabay-162539.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;

    .first__block{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.first{
    display: flex;
    padding-top: 400px;

    .frist__text{
        @include font(72px, 600, rgb(41, 71, 169));
        max-width: 556px;
        font-family: sans-serif;
        text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    }
}


.first__block__btn{
    cursor: pointer;
}


.main{

    .first__section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 433px;
        margin: 60px 0px 84px 0px;

        .first__section__title{
            @include main-title;
            padding-bottom: 48px;
        }

        .first__section__position{
            display: flex;
            justify-content: center;
            gap: 66px;

            .first__section__block{
                border: 1.4px solid rgb(224, 227, 235);
                border-radius: 4px;
                width: 292px;
                height: 197px;
                transition: transform 0.3s ease-in-out;

                .first__section__icon{
                    width: 36px;
                    height: 36px;
                    padding: 21px 0px 19px 21px; 
                }

                .first__section__block__title{
                    @include first__section__block__title;
                    padding: 0px 0px 18px 20px;
                }

                .first__section__block__par{
                    @include first__section__block__par;
                    padding: 0px 0px 0px 20px;
                    width: 254px;
                }
            }

            .first__section__block:hover{
                transform: scale(1.1);
            }
        }
    }


    .second__section{
        margin: 74px 0px 130px 0px;

        .second__osnova{
            display: flex;
            justify-content: center;

            .second__section__img{
                width: 902px;
                height: 669px;
            }

            .second__section__block{
                background: $blue;
                width: 488px;
                height: 523px;

                .second__section__title{
                    color: rgb(255, 255, 255);
                    font-family: Work Sans;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 42px;
                    letter-spacing: 0%;
                    text-align: left;
                    padding: 50px 0px 35px 40px;
                }

                .second__section__par{
                    color: rgb(255, 255, 255);
                    font-family: Work Sans;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: 0%;
                    text-align: left;
                    padding: 0px 0px 25px 40px;
                    width: 388px;
                }

                .second__section__but{
                    color: $blue;
                    font-family: Work Sans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 21px;
                    letter-spacing: 0%;
                    text-align: center;
                    border: 2px solid rgb(41, 71, 169);
                    border-radius: 6px;
                    background: rgb(255, 255, 255);
                    padding: 10px;
                    margin: 48px 0px 0px 40px;

                }
            }
        }
    }
}